.btn-design {
    width: 5rem;
    margin: 3px 0;
}


.login, .register {
    width: 500px;
    padding:  0px 30px 5px 20px;
    
}

.view-card {
    width: 600px;
    padding: 5px 20px;
}

.view-card, .login, .attendee {
    max-width: 100%;
}

.attendee {
    width: 220px;
}


.card-profile {
    height: 200px !important;
    width: 200px !important;
}